/* Header 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 20px;
    color: var(--color-tertiary);
    position: relative;
}

.platform-name {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
}

.search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
}
